.product-card {
    display: flex;
    margin-bottom: 20px; /* Adjust margin between product cards */
  }
  
  .image-container {
    width: 150px; /* Set the width of the image container */
    flex-shrink: 0; /* Prevent the image container from shrinking */
    margin-right: 20px; /* Adjust spacing between image and text */
  }
  
  .text-container {
    flex-grow: 1; /* Grow to take up remaining space */
  }
  
  .title {
    margin-bottom: 5px; /* Add space below the title */
  }
  
  .price {
    margin-bottom: 15px; /* Add more space below the price */
  }
  
  .modal-body {
    max-height: calc(100vh - 200px); /* Adjust maximum height of the modal body */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds modal body height */
  }
  